.flexbox{
    display: flex;
    overflow: hidden;
    padding: 20px 20px;
    align-items: center;
    justify-content: center;
}

.flexbox .board {
    display: inline-flex;
    flex-direction: row;
    padding: solid 10px rgb(156, 128, 202);
    max-width: 210px;
    background-color: rgb(156, 128, 202);
    padding: 10px 10px;
    margin: 10px 10px;
    align-items: center;
    justify-content: center;


}

.flexbox .board .number {
    background-color: #f3f3f3;
    cursor: pointer;
    border: solid #f3f3f3 5px ;
    margin-right: 10px;
    justify-content: center;
}

div[id=containers] {
    flex-direction: row;
    overflow: wrap;
    border: solid #f3f3f3 10px ;
    align-items: center ;
    white-space: pre-wrap;
    position: 'absolute'; 
    left: '50%'; 
    top: '50%';
    transform: 'translate(-50%, -50%)';
    justify-content: center;
}