.flexbox{
    display: flex;
    justify-content: space-between;

    width: 100%;
    max-width: 780px;
    height: 100vh;

    overflow: hidden;

    margin: 0 auto;
    padding: 15px;
}

.flexbox .board {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    max-width: 780px;

    background-color: rgb(156, 128, 202);
    padding: 15px;
}

.flexbox .board .number {
    padding: 15px 25px;
    background-color: #f3f3f3;

    cursor: pointer;
    margin-bottom: 15px;
}