.flexbox{
    display: flex;
    width: 100%;
    overflow: hidden;
    margin: 0px auto;
    padding: 20px;
    align-items: center;
}

.flexbox .board {
    display: flex;
    flex-direction: row;
    padding: solid 10px rgb(156, 128, 202);
    width: 100%;
    max-width: 200px;
    height: 50px;
    background-color: rgb(156, 128, 202);
    padding: 10px 10px;
    margin-bottom: 20px;

}

.flexbox .board .number {
    background-color: #f3f3f3;
    cursor: pointer;
    border: solid #f3f3f3 10px;
    margin-right: 10px;
}

div[id=containers] {
    flex-direction: column;
    overflow: wrap;
    border: solid #f3f3f3 10px;
    width: 100%;
    align-items: center;
    display: inline-block;
    white-space: pre-wrap;
}