.flexbox{
    display: flex;
    overflow: hidden;
    padding: 20px 20px;
    align-items: center;
    justify-content: center;
}

.flexbox .board {
    display: inline-flex;
    flex-direction: row;
    padding: solid 10px rgb(156, 128, 202);
    max-width: 410px;
    background-color: rgb(156, 128, 202);
    padding: 10px 10px;
    margin: 10px 10px;
    align-items: center;
    justify-content: center;


}

.flexbox .board .number {
    /* background-color: #f3f3f3; */
    cursor: pointer;
    /* border: solid #f3f3f3 5px ; */
    margin-right: 10px;
    justify-content: center;
    padding:10px 10px;
}

div[id=containers] {
    flex-direction: row;
    overflow: wrap;
    border: solid #f3f3f3 10px ;
    align-items: center ;
    white-space: pre-wrap;
    position: 'absolute'; 
    left: '50%'; 
    top: '50%';
    transform: 'translate(-50%, -50%)';
    justify-content: center;
}
div[id=containerss] {
    flex-direction: row;
    overflow: wrap;
    border: solid #f3f3f3 10px ;
    align-items: center ;
    white-space: pre-wrap;
    position: 'absolute'; 
    left: '50%'; 
    top: '50%';
    transform: 'translate(-50%, -50%)';
    justify-content: center;
}

.backBtn{
    background-color: #e2b4ee; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}
.backBtn:hover{
    background-color: #db8eee;
}

.nextBtn{
    background-color: #e2b4ee; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

.nextBtn:hover{
    background-color: #db8eee;
}

.generateBtn{
    background-color: #e2b4ee; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

.generateBtn:hover{
    background-color: #db8eee;
}

.nav{
    display: flex;
    justify-content: space-evenly;
}

.head{
    color: black;
    text-align: center;
}

#step{
    background-color: #f3f3f3;
    text-align: center;
    margin-top: 30px;
    padding: 10px 10px;
    font-family: monospace;
    font-size: 20px;
}

.number{
    background-color: #e7c4f0;
    border: solid #f3f3f3 2px ;
    margin-right: 10px;
    padding:10px 10px;
    
}
.number:hover{
    background-color: rgb(223, 143, 205);
    color: white;
}
.number::after{
    background-color: #db8eee;
}
#numbers{
    justify-content: center;
    text-align: center;
}
.text{
    background-color: #f3f3f3;
    text-align: center;
    margin-top: 30px;
    padding: 10px 10px;
    font-family: monospace;
    font-size: 20px;
}