<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Level 1</title>
    <link rel="stylesheet" type="text/css" href="levelone.css" />
  </head>

  <body>
   <div>
    <h1>Level 1: MergeSort Algorithm</h1> 
       <button class="home">Home</button>
    <span style="display:inline-block; width: 20px;"></span>
   
    <button class="back">Back</button>
   <span style="display:inline-block; width: 20px;"></span>

   <!-- button for first step  -->
    <button id = "next1" class="next"  value="Random Number!" onclick="Next();">Next</button>
    <!-- button for third step -->
    <button id="next3"  class="next33" value="Random Number!"  onclick="nextStep3();">Next</button>

    <span style="display:inline-block; width: 20px;"></span>
   
    <button class="restart">Restart</button>
    <span style="display:inline-block; width: 20px;"></span>
   
    <button class="quit">Quit</button>

     
     </div>
       </br>
</br>
</br>
     <h3> Click on the button to generate 10 random numbers</h3>
    <form name="rn">
      <input type="text" id="tb" name="tb" size ="3" readonly/> 
 
      <input type="text" value="1" id="index" name="index1" size ="1" class="hide" readonly /> 
      <span style="display:inline-block; width: 0px;"></span>

      <input type="text" id="tb2" name="tb" size ="3" readonly/>
  
      <span style="display:inline-block; width: 0px;"></span>

        <input type="text" id="tb3" name="tb" size ="3" readonly />
       
        <span style="display:inline-block; width: 0px;"></span>

      <input type="text" id="tb4" name="tb" size ="1" readonly/>
      <span style="display:inline-block; width: 0px;"></span>
      <input type="text" id="tb5" name="tb" size ="3" readonly/>

      <span style="display:inline-block; width: 0px;"></span>
      <input type="text" id="tb6" name="tb" size ="3" readonly/>
      <span style="display:inline-block; width: 0px;"></span>
        <input type="text" id="tb7" name="tb" size ="3" readonly/>
        <span style="display:inline-block; width: 0px;"></span>
      <input type="text" id="tb8" name="tb" size ="3" readonly/>
      <span style="display:inline-block; width: 0px;"></span>
      <input type="text" id="tb9" name="tb" size ="3" readonly/>
      <span style="display:inline-block; width: 0px;"></span>
      <input type="text" id="tb10" name="tb" size ="3" readonly />
    </br>
  </br>
      <input type="button" value="Random Number!" onclick="Random();" />
      <span style="display:inline-block; width: 40px;"></span>
</br>
</br>
      <input type="text" id="step1" name="step1" size ="40"class = "hide" readonly/>
</br>
</br>


      <!-- step 2 -->
          <span style="display:inline-block; width: 40px;"></span>

         
     
        <input type="text" id="step2" name="step2" size ="60" readonly/>
</br>
<span style="display:inline-block; width: 40px;"></span>
<span style="display:inline-block; width: 40px;"></span>
<span style="display:inline-block; width: 40px;"></span>
<span style="display:inline-block; width: 40px;"></span>
<span style="display:inline-block; width: 40px;"></span>
<span style="display:inline-block; width: 40px;"></span> 

         <input type="text" id="n1" name="n1" size ="3"  readonly/> 
         <input type="text" id="n2" name="n2" size ="3"  readonly /> 
         <input type="text" id="n3" name="n3" size ="3"  readonly/> 
         <input type="text" id="n4" name="n4" size ="3"  readonly/> 
         <input type="text" id="n5" name="n2" size ="3"  readonly /> 

         
     <span style="display:inline-block; width: 100px;"></span>
     <span style="display:inline-block; width: 100px;"></span>

     
         <input type="text" id="n6" name="n2" size ="3" readonly  /> 
         <input type="text" id="n7" name="n2" size ="3"  readonly /> 
         <input type="text" id="n8" name="n2" size ="3"  readonly/> 
          <input type="text" id="n9" name="n2" size ="3"  readonly/> 
         <input type="text" id="n10" name="n2" size ="3"   readonly/> 

<span style="display:inline-block; width: 100px;"></span>

<!-- 
         <h1> &#129135</h1> -->

     

         <!-- Step 3:  -->
</br>
</br>
<input type="text" id="step3" name="step3" size ="60" class="hide2" readonly/>
</br>


<span style="display:inline-block; width: 40px;"></span>
<span style="display:inline-block; width: 40px;"></span>
<span style="display:inline-block; width: 40px;"></span>
<span style="display:inline-block; width: 40px;"></span>


        <input type="text" id="num1" name="n1" size ="3" readonly /> 
         <input type="text" id="num2" name="n2" size ="3"  readonly /> 
          <input type="text" id="num3" name="n3" size ="3" readonly /> 
        <span style="display:inline-block; width: 120px;"></span>

        
         <input type="text" id="num4" name="n4" size ="3"  readonly /> 
         <input type="text" id="num5" name="n4" size ="3"  readonly /> 

         <span style="display:inline-block; width: 40px;"></span>
         <span style="display:inline-block; width: 40px;"></span>
         
         <input type="text" id="num6" name="n1" size ="3" readonly /> 
          <input type="text" id="num7" name="n2" size ="3" readonly  /> 
          <input type="text" id="num8" name="n2" size ="3" readonly  /> 

          <span style="display:inline-block; width: 130px;"></span>

           <input type="text" id="num9" name="n2" size ="3"  readonly /> 
          <input type="text" id="num10" name="n2" size ="3"  readonly /> 


<!-- 
          step 4 button  -->
          <!-- step4 -->
</br>
           <button id="step 4"  class="hide" onclick="nextStep4();" >Next</button>
<!-- 
           group 1 -->
           <input type="text" id="n1Step4" name="n1" size ="3" readonly /> 
         <input type="text" id="num2" name="n2" size ="3"  readonly /> 

         <!-- group 2 -->
          <input type="text" id="num3" name="n3" size ="3" readonly /> 
        <span style="display:inline-block; width: 120px;"></span>

        
         <input type="text" id="num4" name="n4" size ="3"  readonly /> 
         <input type="text" id="num5" name="n4" size ="3"  readonly /> 

         <span style="display:inline-block; width: 40px;"></span>
         <span style="display:inline-block; width: 40px;"></span>
         
         <input type="text" id="num6" name="n1" size ="3" readonly /> 
          <input type="text" id="num7" name="n2" size ="3" readonly  /> 
          <input type="text" id="num8" name="n2" size ="3" readonly  /> 

          <span style="display:inline-block; width: 130px;"></span>

           <input type="text" id="num9" name="n2" size ="3"  readonly /> 
          <input type="text" id="num10" name="n2" size ="3"  readonly /> 






    </form>
  </br>
</br>
</br>

  
    

    
  </body>
  <script src="levelOne.js"></script>
</html>
