<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Level 1</title>
    <link rel="stylesheet" type="text/css" href="levelone.css" />
  </head>

  <body>
   <div>
    <h1>Level 1: MergeSort Algorithm</h1> 
       <button class="home">Home</button>
    <span style="display:inline-block; width: 20px;"></span>
   
    <button class="back">Back</button>
   <span style="display:inline-block; width: 20px;"></span>

   <!-- button for first step  -->
    <button id = "next1" class="next"  value="Random Number!" onclick="Next();">Next</button>
    <!-- button for third step -->
    <button id="next3"  class="next33" value="Random Number!"  onclick="nextStep3();">Next</button>

    <span style="display:inline-block; width: 20px;"></span>
   
    <button class="restart">Restart</button>
    <span style="display:inline-block; width: 20px;"></span>
   
    <button class="quit">Quit</button>

     
     </div>
       </br>
</br>
</br>
     <h3> Click on the button to generate 10 random numbers</h3>
     <input type="button" value="Random Number!" onclick="Random();" />
    <form name="rn">
    </br>
    
      <!-- step1 -->
      
      <div class = "hide" id="showStep1">

         
        <input type="text" id="step1" name="step1" size ="40" readonly/>
      </br>
      </br>
          <span style="display:inline-block; width: 250px;"></span>

      <input type="number" id="tb" value="Random Number!"   readonly/> 
      <input type="number"  id="tb2" value="Random Number!" readonly /> 
       <input type="number" id="tb3" value="Random Number!"  readonly/>
       <input type="number" id="tb4" value="Random Number!" readonly />
       <input type="number" id="tb5" value="Random Number!"  readonly/>
      <input type="number" id="tb6" value="Random Number!"   readonly/>
      <input type="number" id="tb7" value="Random Number!"  readonly/>
      <input type="number" id="tb8" value="Random Number!"  readonly/>
      <input type="number" id="tb9"  value="Random Number!"  readonly/>
      <input type="number" id="tb10" value="Random Number!"  readonly/>
     
    </br>
  </br>
      </div>
       
      <!-- step 2 -->
      <div class = "hide" id="showStep2">
     

        <input type="text" id="step2" name="step2" size ="60" readonly/>
</br>
</br>
 <span style="display:inline-block; width: 190px;"></span>
         <input type="number" id="n1" name="n1" size ="1"  readonly/> 
         <input type="number" id="n2" name="n2" size ="1"  readonly /> 
         <input type="number" id="n3" name="n3" size ="1"  readonly/> 
         <input type="number" id="n4" name="n4" size ="1"  readonly/> 
         <input type="number" id="n5" name="n2" size ="1"  readonly /> 

         
     <span style="display:inline-block; width: 200px;"></span>
      

     
         <input type="number" id="n6" name="n2" size ="1" readonly  /> 
         <input type="number" id="n7" name="n2" size ="1"  readonly /> 
         <input type="number" id="n8" name="n2" size ="1"  readonly/> 
          <input type="number" id="n9" name="n2" size ="1"  readonly/> 
         <input type="number" id="n10" name="n2" size ="1"   readonly/> 

<span style="display:inline-block; width: 100px;"></span>

</div>


<!-- Step 3:  -->
</br>

 <div class = "hide" id="showStep3">
<input type="text" id="step3" name="step3" size ="60" class="hide2" readonly/>
 </br>
  <span style="display:inline-block; width: 150px;"></span>
 

        <input type="number" id="num1" name="n1" size ="1" readonly /> 
         <input type="number" id="num2" name="n2" size ="1"  readonly /> 
          <input type="number" id="num3" name="n3" size ="1" readonly /> 
        <span style="display:inline-block; width: 70px;"></span>

        
         <input type="number" id="num4" name="n4" size ="1"  readonly /> 
         <input type="number" id="num5" name="n4" size ="1"  readonly /> 

         <span style="display:inline-block; width: 100px;"></span>
          
         
         <input type="number" id="num6" name="n1" size ="1" readonly /> 
          <input type="number" id="num7" name="n2" size ="1" readonly  /> 
          <input type="number" id="num8" name="n2" size ="1" readonly  /> 

          <span style="display:inline-block; width: 100px;"></span>

           <input type="number" id="num9" name="n2" size ="1"  readonly /> 
          <input type="number" id="num10" name="n2" size ="1"  readonly /> 
</br>
 
 <input type="button" value="Next" onclick="nextStep4();" />
</div>

<!-- 
          step 4 button  -->
          <!-- step4 -->
</br>
<div class = "hide" id="showStep4">
          <input type="text" id="step4" size ="60"   readonly/>
</br>
<span style="display:inline-block; width: 100px;"></span>
<!-- 
           group 1 -->
           <input type="number" id="n1Step4" name="n1" size ="1" readonly /> 
         <input type="number" id="n2Step4" name="n2" size ="1"  readonly /> 
          <span style="display:inline-block; width: 60px;"></span>
         <!-- group 2 -->
          <input type="number" id="n3Step4" name="n3" size ="1" readonly /> 
            <span style="display:inline-block; width: 50px;"></span>
          <!-- group 3 -->
         <input type="number" id="n4Step4" name="n4" size ="1"  readonly /> 
        <span style="display:inline-block; width: 20px;"></span>
         <input type="number" id="n5Step4" name="n4" size ="1"  readonly /> 
       
         
         <!-- group 3 -->
         <span style="display:inline-block; width: 80px;"></span>
         <input type="number" id="n6Step4" name="n1" size ="1" readonly /> 
          <input type="number" id="n7Step4" name="n2" size ="1" readonly  /> 
          <span style="display:inline-block; width: 20px;"></span>
<!-- 
          group 4 -->
          <input type="number" id="n8Step4" name="n2" size ="1" readonly  /> 
           
           <span style="display:inline-block; width: 80px;"></span>
<!-- group 5 -->
           <input type="number" id="n9Step4" name="n2" size ="1"  readonly /> 
             <span style="display:inline-block; width: 20px;"></span>
           <!-- group 7 -->
          <input type="number" id="n10Step4" name="n2" size ="1"  readonly /> 

</div>

    </form>
  </br>
</br>
</br>

  
    

    
  </body>
  <script src="levelOne.js"></script>
</html>
