<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Level 1</title>
    <link rel="stylesheet" type="text/css" href="levelone.css" />
  </head>

  <body>
   
    <button class="home">Home</button>
   
    <button class="back">Back</button>
   
    <button class="next">Next</button>
   
    <button class="restart">Restart</button>
   
    <button class="quit">Quit</button>

     <h1>Level 1: MergeSort Algorithm</h1>
       </br>
</br>
</br>
     <h4> Click on the button to generate 10 random numbers</h4>
    <form name="rn">
      <input type="text" id="tb" name="tb" />
      <input type="text" id="tb2" name="tb" />
        <input type="text" id="tb3" name="tb" />
      <input type="text" id="tb4" name="tb" />
      <input type="text" id="tb5" name="tb" />
      <input type="text" id="tb6" name="tb" />
        <input type="text" id="tb7" name="tb" />
      <input type="text" id="tb8" name="tb" />
      <input type="text" id="tb9" name="tb" />
      <input type="text" id="tb10" name="tb" />
      <input type="button" value="Random Number!" onclick="Random();" />
    </form>
  </body>
  <script src="levelOne.js"></script>
</html>
