.btn {
  background-color: #b43fd1; /* Green */
  border: none;
  color: white;
  padding: 40px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
}

/* On mouse-over */
.btn:hover {
  background: #eee;
}

.home {
  background-color: #e2b4ee; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

.back {
  background-color: #e2b4ee; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

.next {
  background-color: #e2b4ee; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

.restart {
  background-color: #e2b4ee; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

.quit {
  background-color: #e2b4ee; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

h1 {
  background-color: #ffffff;
}

div {
  text-align: center;
}
body {
  background-color: rgb(240, 227, 245);
}
