
.instruction1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
  }
  .header1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
  }

  .headerBtns{
    display: inline-block;
  }

  /* On mouse-over */
  .btn:hover {
    background: #eee;
  }
  .btnNav{
    margin-top: 2%;
    text-align: center;
    display: inline-block;
  }
  
  .random {
    background-color: #db9eeb; /* Green */
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    align-self: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
  }
  .randomdiv{
    text-align: center;
  }
  .home {
    background-color: #e2b4ee; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
  }
  
  .back {
    background-color: #e2b4ee; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
  }
  
  .next {
    background-color: #e2b4ee; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    display: show;
  }
  
  .restart {
    background-color: #e2b4ee; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    
  }
  
  .quit {
    background-color: #e2b4ee; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
  }
  
  form {
    align-self: center;
  }
  input,
  select,
  textarea {
    color: #000000;
  }
  
  input:hover {
    background-color: #000000;
  }
  
  body {
    background-color: rgb(240, 227, 245);
  }
  
  .hide {
    display: none;
    margin-top: 2%;
    text-align: center;
  }
  .blockofnum{
    margin-top: 1%;
    border-radius: 3px;
  }
  
  .footer{
    margin-top: 5%;
  }
  
  .show {
    display: block;
  }
  
  .step2 {
    display: none;
  }
  
  .nextStep{
    background-color: rgb(59, 9, 78);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-top: 1%;
    padding: 5px 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
  }
  input[type="number"] {
    width: 40px;
    color: rgb(59, 9, 78);
    box-sizing: border-box;
    background-color: #ffffff;
    border-style: solid;
    border-color: #000000;
    text-align: center;
    margin-left: 0.1%;
    border-style: solid;
    border-radius: 5px;
  }
  
  input[type="text"] {
    color: rgb(59, 9, 78);
    border: none;
    box-sizing: border-box;
    background-color: #e68cbd;
    padding: 5px 5px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
  }
  